<div>
    <h1 class="subTitulo">Centro de mensajes</h1>
    <form id="chat" class="container" onsubmit="return false">
      <label for="usuario" class="form-label">Usuario</label>
      <input type="email" class="form-control" placeholder="Usuario" id="usuario" required/>
      <label for="text" class="form-label">Mensaje</label>
      <input type="text" class="form-control" placeholder="mensaje" id="text" required/>
      <input type="submit"  class="btn btn-primary" value="Enviar">
    </form>
  
    <div  class= "container chat" id="mensajes"></div>
  </div>