<h1 class="subTitulo">Ingrese un producto</h1>

    <div class="container">
        <form id="formAgregarProducto" onsubmit="return false">
         
            <label for="title" class="form-label">Nombre del producto</label>
            <input type="text" class="form-control" placeholder="Producto" id="title" name="title"/>
            <label for="price" class="form-label">Precio</label>
            <input type="number" class="form-control" id="price" placeholder="Precio"name="price" />
            <label for="thumbnail" class="form-label">Imagen</label>
            <input type="text" class="form-control" placeholder="URL" id="thumbnail" name="thumbnail" />
      
         
          
            <input type="submit" class="btn btn-primary" value="Cargar productos">
          
          
        </form>
      
      </div>
