<h1 class="subTitulo">Vista de productos</h1>

<div class="tablaProductos">
 <table class="table table-striped table-hover">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Precio</th>
            <th>Imagen</th>
        </tr>
    </thead>

    <tbody id="productsTable">
        
    </tbody>
</table>
</div>